<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  </head>
  <body class="center">

    <h1><%= title %></h1>
    <hr />
    <p>Welcome to <%= title %></p>
    <a class="btn-large btn-waves waves-light blue" href="/notes">Start</a>

  </body>
</html>
